body{
    margin-bottom: 10%;
    
}


.navbar {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    margin: 15px;
    height: -1%;
    margin-bottom: 61px;
    
  }

.all{
    background-color:red;
    width: 100%;
    height: 100%;
}
  
  /* Navbar links */
  .navbar a {
    display: flex;
    float: left;
    text-align: center;
    padding: 12px;
    color: rgb(3, 3, 3);
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: rgb(246, 235, 235);
  }

  .w-5 {
    width: 1.25rem;
}
.h-5 {
    height: 1.25rem;
}
  
  /* Current/active navbar link */
  .active {
    background-color: #04AA6D;
    border:2px solid #04AA6D;
    border-radius: 45px;
  }
  
 #sign{
    
    align-items: center;
    justify-content: center;

 }

 h1{
    font-size: 40px;
    margin-bottom: 18px;
    margin-left: 39px;
}

.g{
    width: 100%;
    height: 22px;
    border: 1px white;
    border-radius: 50px;
    padding-right: 3px;

}

.navbar a:hover {
    background-color: rgb(246, 235, 235);
  }

.un{
    margin-top: 4px;
            background-color: gold;
            border: 1px solid gold;
            border-radius: 40px
}
 

 .pic{
    
    width: 60%;
 }

 img{
    width: 100%;
    height: 329px;
    border: 1px white;
    border-radius: 50px;

 }

 .top{
    border: 4px solid white;
    border-radius: 65px;
    width: 80%;
    display: flex;
    background-color: white;
    font-family: 'Edu TAS Beginner', cursive;
 }

 .m{
    display: flex;
    justify-content: center;
 }

 form{
    margin-top: 108px; 
    margin-left: 15px;

 }
  
 html{
    background-color: rgb(233 233 233);;
 }


 .p2{
    font-size: 23px;
    margin-bottom: 7px;
}

.p3{
    font-size: 23px;
    margin-bottom: 7px;

}

.p4{
    font-size: 23px;
    margin-bottom: 7px;

}

.p5{
    font-size: 23px;
    margin-bottom: 7px;

}

.p6{
    font-size: 23px;
    margin-bottom: 7px;

}


#form1Example{
    font-size: 17px;
    border: 1px solid;
    border-radius: 8px;
    padding: 9px;
    
}

#form1Exampl{
    font-size: 17px;
    border: 1px solid;
    border-radius: 8px;
    padding: 9px;

}

#form1Example1{
    font-size: 17px;
    border: 1px solid;
    border-radius: 8px;
    padding: 9px;

}
 
#form1Example13{
    font-size: 17px;
    border: 1px solid;
    border-radius: 8px;
    padding: 9px;

}

#form1Examp{
    font-size: 17px;
    border: 1px solid;
    border-radius: 8px;
    padding: 9px;


}

.b{
    display: flex;
    justify-content: center;
    margin-top: 26px;
    margin-bottom: 23px;

}

button{
    font-size: 20px;
    border: 1px solid;
    border-radius: 40px;
    padding: 8px;
}


@media(max-width:500px)
{
    .navbar{
        display: block;
        justify-content: unset;
    }
    .top{
        display: block;
    }
    form{
        margin-top: 20px;
    margin-left: 15px;
}
    
}

@media(max-width:300px)
{
    .m {
        display: flex;
        justify-content: center;
        margin: -39px;
    }

    #form1Example{
        font-size: 13px;
        border: 1px solid;
        border-radius: 8px;
        padding: 9px;
    
    
    }
    
    #form1Exampl{
        font-size: 13px;
        border: 1px solid;
        border-radius: 8px;
        padding: 9px;
    
    }
    
    #form1Example1{
        font-size: 13px;
        border: 1px solid;
        border-radius: 8px;
        padding: 9px;
    
    }
     
    #form1Example13{
        font-size: 13px;
        border: 1px solid;
        border-radius: 8px;
        padding: 9px;
    
    }
    
    #form1Examp{
        font-size: 13px;
        border: 1px solid;
        border-radius: 8px;
        padding: 9px;
    
    
    }

}

@media(max-width:185px)
{
    img{
        display: none;
    }
}